LANGUAGE LANG_JAPANESE, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
    IDS_SERVICE_START   "開始"
    IDS_SERVICE_STOP    "停止"
    IDS_SERVICE_PAUSE   "一時停止"
    IDS_SERVICE_RESUME  "再開"
    IDS_SERVICE_RUNNING "実行中"
    IDS_SERVICE_STOPPED "停止済"
    IDS_SERVICE_PAUSED  "一時停止中"
END
